# Ignore massive log files
*.log
logs/

# Ignore temporary session locks
session.lock

# Ignore crash reports
crash-reports/
# Ignore server and plugin JARs
*.jar

# Fabric & Modded specific
libraries/
.fabric/
cache/
**/world/voxy/
